## Introduction to Data Science

#### University of Redlands - DATA 101
#### Prof: Joanna Bieri [joanna_bieri@redlands.edu](mailto:joanna_bieri@redlands.edu)
#### [Class Website: data101.joannabieri.com](https://joannabieri.com/data101.html)

---------------------------------------
# Homework Day 6
---------------------------------------

GOALS:

1. Answer all the questions from the lecture.
2. Practice wrangling data - doing more advanced code
3. Complete your first more advanced Exploration/Exercise

----------------------------------------------------------

This homework has **4 Questions** and **7 Exercises**

NOTE:
Exercises will tend to be an analysis of a single piece of data where one exercise builds on the next.

In [100]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.defaule = 'colab'

from itables import show

In [102]:
file_location = 'https://joannabieri.com/introdatascience/data/hotels.csv'
DF_raw_hotels = pd.read_csv(file_location)

In [24]:
show(DF_raw_hotels)

In [104]:
# I always look at the column names - they have to be spelled exactly!
columns_list = list(DF_raw_hotels.keys())
print(columns_list)

['hotel', 'is_canceled', 'lead_time', 'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number', 'arrival_date_day_of_month', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children', 'babies', 'meal', 'country', 'market_segment', 'distribution_channel', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'reserved_room_type', 'assigned_room_type', 'booking_changes', 'deposit_type', 'agent', 'company', 'days_in_waiting_list', 'customer_type', 'adr', 'required_car_parking_spaces', 'total_of_special_requests', 'reservation_status', 'reservation_status_date']

### Example of Combining Masks

* Show only results for visitors from USA or GBR.

In [106]:
mask = (DF_raw_hotels['country']=='USA') | (DF_raw_hotels['country']=='GBR')
DF_raw_hotels[mask]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
12,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,2015-07-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119358,City Hotel,0,135,2017,August,35,30,1,4,2,...,No Deposit,14.0,NaN,0,Transient,143.10,0,1,Check-Out,2017-09-04
119369,City Hotel,0,207,2017,August,34,25,3,7,2,...,No Deposit,14.0,NaN,0,Transient,96.25,0,2,Check-Out,2017-09-04
119378,City Hotel,0,247,2017,August,35,31,1,3,2,...,No Deposit,42.0,NaN,0,Transient,86.85,0,0,Check-Out,2017-09-04
119379,City Hotel,0,109,2017,August,35,31,1,3,2,...,No Deposit,9.0,NaN,0,Transient,155.00,0,1,Check-Out,2017-09-04
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07

## Example Finding unique values

In [108]:
my_columns = ['market_segment','customer_type']
DF_raw_hotels[my_columns].drop_duplicates()

       market_segment    customer_type
0              Direct        Transient
3           Corporate        Transient
4           Online TA        Transient
9       Offline TA/TO        Transient
16      Offline TA/TO         Contract
47      Offline TA/TO  Transient-Party
125     Complementary        Transient
127         Online TA  Transient-Party
260            Direct  Transient-Party
413            Groups  Transient-Party
417            Groups        Transient
539         Online TA            Group
1530        Corporate  Transient-Party
1539           Direct            Group
1587    Offline TA/TO            Group
2262        Corporate         Contract
2263           Direct         Contract
2698           Groups         Contract
9511    Complementary  Transient-Party
14051   Complementary            Group
14654          Groups            Group
15141       Corporate            Group
15261   Complementary         Contract
15506       Online TA         Contract
40600       Undefined  Transient-Party
49013        Aviation  Transient-Party
49372        Aviation        Transient
112102       Aviation            Group

## Example Counting unique values

In [110]:
my_columns = ['market_segment']
DF_raw_hotels[my_columns].value_counts()

market_segment
Online TA         56477
Offline TA/TO     24219
Groups            19811
Direct            12606
Corporate          5295
Complementary       743
Aviation            237
Undefined             2
Name: count, dtype: int64

## Example of Counting unique values in two columns - unsorted

In [112]:
my_columns = ['market_segment','customer_type']
DF_raw_hotels[my_columns].value_counts(sort=False)

market_segment  customer_type
Aviation        Group                  2
                Transient            218
                Transient-Party       17
Complementary   Contract               2
                Group                  6
                Transient            703
                Transient-Party       32
Corporate       Contract              22
                Group                 29
                Transient           3576
                Transient-Party     1668
Direct          Contract              14
                Group                134
                Transient          11336
                Transient-Party     1122
Groups          Contract             735
                Group                 16
                Transient           8427
                Transient-Party    10633
Offline TA/TO   Contract            1817
                Group                211
                Transient          14054
                Transient-Party     8137
Online TA       Contract            1486
                Group                179
                Transient          51299
                Transient-Party     3513
Undefined       Transient-Party        2
Name: count, dtype: int64

## Example of Saving Unique Values to a Data Frame

Just add the command **.reset_index().rename(columns={"index": "value", 0: "count"})**. In this class

In [114]:
my_columns = ['market_segment','customer_type']
my_counts = DF_raw_hotels[my_columns].value_counts()
my_counts = my_counts.reset_index().rename(columns={"index": "value", 0: "count"})
show(my_counts)

## Example of Adding a column to a Data Frame

In [116]:
DF_raw_hotels['little_ones'] = DF_raw_hotels['children'] + DF_raw_hotels['babies']
DF_raw_hotels

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,little_ones
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,0.0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,0.0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,0.0
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,0.0
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06,0.0
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07,0.0
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07,0.0
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07,0.0
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07,0.0

**Q1** Count up the number of little_ones in different hotel types (Hint - use value_counts() with hotel and little_ones as your columns.)

In [132]:
# Your code here:
my_columns = ['children','hotel','babies']
DF_raw_hotels.groupby(by=['hotel'])[my_columns].sum()

,children,hotel,babies
hotel,,,
City Hotel,7248.0,City HotelCity HotelCity HotelCity HotelCity H...,392
Resort Hotel,5155.0,Resort HotelResort HotelResort HotelResort Hot...,557

**Q2** Add a new column that calculates the total number of humans (all_humans) in the room (adults+children+babies) (Hint - you can copy and paste the code above where we calculated little_ones and add on another thing)

In [134]:
# Your code here
my_columns = ['adults','children','little_ones','babies']
DF_raw_hotels.groupby(by=['hotel'])[my_columns].sum()

              adults  children  little_ones  babies
hotel
City Hotel    146838    7248.0       7640.0     392
Resort Hotel   74798    5155.0       5712.0     557

**Q3** Can you figure out what the code below is doing - comment on each line -- remember you can add a comment using the hashtag #

In [138]:
# PLEASE ADD YOUR COMMENTS!
DF_raw_hotels['little_ones'] = DF_raw_hotels['children'] + DF_raw_hotels['babies']
# Creates a column for little ones to equal the sum of children and babies 
my_columns = ['hotel','little_ones']
# Stating what it wants in the columns
my_counts = DF_raw_hotels[my_columns].value_counts()
# Gets data from DF and looks at the mu_columns variable to get value counts
my_counts = my_counts.reset_index().rename(columns={"index": "value", 0: "count"})
# resets the value counts from the my_counts above and then creates the data in a graph showing the data for my_columns
my_counts['proportion']=my_counts['count']/sum(my_counts['count'])
my_counts

           hotel  little_ones  count  proportion
0     City Hotel          0.0  73923    0.619193
1   Resort Hotel          0.0  36131    0.302640
2     City Hotel          1.0   3263    0.027332
3   Resort Hotel          1.0   2183    0.018285
4     City Hotel          2.0   2056    0.017221
5   Resort Hotel          2.0   1716    0.014374
6     City Hotel          3.0     82    0.000687
7   Resort Hotel          3.0     29    0.000243
8     City Hotel          9.0      1    0.000008
9     City Hotel         10.0      1    0.000008
10  Resort Hotel         10.0      1    0.000008

## Example of Grouping the data frame into chunks

In [33]:
my_columns = ['adults','children','little_ones','babies']
DF_raw_hotels.groupby(by=['hotel'])[my_columns].sum()

              adults  children  little_ones  babies
hotel
City Hotel    146838    7248.0       7640.0     392
Resort Hotel   74798    5155.0       5712.0     557

There are lots of different operaitons you could use:

* .min()
* .max()
* .mean()
* .median()
* .sum()
* .prod()
* .count()
* .describe()

Here we see that .describe() does all the descriptive statistics for each of columns, broken into the two groups. 

## Example of Grouping to quickly generate data

The .groupby() function lets you quickly generate data about things you care about. In just one command below we are able to look at the total number of occupants for each of the columns (adults, children, little_ones, and babies) for each month in the data set.

In [34]:
DF_raw_hotels.groupby(by=['arrival_date_month'])[my_columns].sum()

                    adults  children  little_ones  babies
arrival_date_month
April                20806    1141.0       1194.0      53
August               27795    2780.0       2976.0     196
December             12382     736.0        814.0      78
February             14450     790.0        849.0      59
January              10024     452.0        500.0      48
July                 25164    2322.0       2443.0     121
June                 20353    1057.0       1128.0      71
March                17675     700.0        757.0      57
May                  21539     845.0        917.0      72
November             11488     279.0        324.0      45
October              20279     703.0        765.0      62
September            19681     598.0        685.0      87

**Q4** Try changing the code above to calculate the mean, max, and min for the above data.

# Exercises:

## Our first big-ish problem:

Now you will try to use our hotels data set to answer some questions! You will need to use the tools we have learned so far to look into the data and try to answer the questions. Really try to answer the questions with as few hints as possible!

### IF YOU USE MY ANSWER - avoid plagiarism

To avoid plagiarism, if you end up copying my answer and using it, YOU MUST explain clearly what each part of the code is doing. It's okay to need to use my code at this point, but it is not helpful to your learning to blindly copy and paste without trying to understand.

**Hints and Answers can be found in the lecture notes!**

### Exercise 1

Are people traveling on a whim?

How could you find out?

Try creating a mask filtering for hotel bookings where the guest is **not** from the US (`country` code `"USA"`) and the `lead_time` is less than 1 day.

What proportion of people traveled last minute?

In [30]:
DF_raw_hotels.keys()

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [46]:
#Are people traveling on a whim?
#How could you find out?
#Try creating a mask filtering for hotel bookings where the guest is 
#**not** from the US (`country` code `"USA"`) and the `lead_time` is less than 1 day.
#What proportion of people traveled last minute?
mask= (DF_raw_hotels['lead_time']==0) & (DF_raw_hotels['country']!='USA')
# mask stores data we want to see
maskedData=DF_raw_hotels[mask]
# name the mask to call the mask
len(maskedData)/len(DF_raw_hotels)*100
# get the amount of people vs total data multiply by 100 to get a whole number

5.171287377502303

In [35]:
# Your code here
#add new data

### Exercise 2

How many bookings involve at least 1 child **or** baby?

In [58]:
# Your code here:
mask= (DF_raw_hotels['children']!=0) | (DF_raw_hotels['babies']!=0)
DF_kids=DF_raw_hotels[mask]
len(DF_kids)

9336

### Exercise 3

Do you think it's more likely to find bookings with children or babies in city hotels or resort hotels?
Test your intuition.

In [70]:
# Your code here:
columns = ['hotel','children','babies']
DF_kids = DF_raw_hotels[columns]
results = DF_kids.groupby(by ='hotel').sum()
results

              children  babies
hotel
City Hotel      7248.0     392
Resort Hotel    5155.0     557

### Exercise 4

Create a frequency table of the number of `adults` in a booking.
Display the results in descending order so the most common observation is on top.
What is the most common number of adults in bookings in this dataset?
Are there any surprising results?

In [72]:
# Your code here:
DF_raw_hotels['adults'].value_counts(ascending=True)

adults
2     89680
1     23027
3      6202
0       403
4        62
26        5
27        2
20        2
5         2
40        1
50        1
55        1
6         1
10        1
Name: count, dtype: int64

In [76]:
mask =DF_raw_hotels['adults']==55
DF_raw_hotels[mask]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
2173,Resort Hotel,1,338,2015,October,41,4,2,0,55,...,No Deposit,NaN,NaN,0,Group,0.0,0,0,Canceled,2015-01-02

### Exercise 5

Repeat Exercise 5, once for canceled bookings (`is_canceled` coded as 1) and once for not canceled bookings (`is_canceled` coded as 0).
What does this reveal about the surprising results you spotted in the previous exercise?

In [39]:
# Your code here:
DF_raw_adults

### Exercise 6

Calculate minimum, mean, median, and maximum average daily rate (column labeled 'adr') grouped by `hotel` type so that you can get these statistics separately for resort and city hotels. (Hint - try using .describe() after doing group by)

Which type of hotel is higher, on average?

In [78]:
# Your code here:
columns = ['adr','hotel']
DF_raw_hotels[columns].groupby('hotel').describe()

                  adr
                count        mean        std   min   25%   50%    75%     max
hotel
City Hotel    79330.0  105.304465  43.602954  0.00  79.2  99.9  126.0  5400.0
Resort Hotel  40060.0   94.952930  61.442418 -6.38  50.0  75.0  125.0   508.0

### Exercise 7

We observe two unusual values in the summary statistics above -- a negative minimum, and a very high maximum).
What types of hotels are these?

Locate these observations in the data set and find out the arrival date (year and month) as well as how many people (adults, children, and babies) stayed in the room.

You can investigate the data by showing the data frame to locate these values, but preferably you should identify them in a reproducible way with some code.

In [80]:
# Your code here: 
my_min=-6.38
my_max=5400

In [88]:
mask = DF_raw_hotels['adr']==my_min
DF_raw_hotels[mask]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
14969,Resort Hotel,0,195,2017,March,10,5,4,6,2,...,No Deposit,273.0,NaN,0,Transient-Party,-6.38,0,0,Check-Out,2017-03-15

In [86]:
mask = DF_raw_hotels['adr']==my_max
DF_raw_hotels[mask]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
48515,City Hotel,1,35,2016,March,13,25,0,1,2,...,Non Refund,12.0,NaN,0,Transient,5400.0,0,0,Canceled,2016-02-19